@{
    ViewBag.Title = "Index";
}

@section HeaderContent
{
	<script type="text/javascript" src="~/Scripts/Thirdparty/raphael.js"></script>
	<script type="text/javascript" src="~/Scripts/Application.js"></script>
	<script type="text/javascript" src="~/Scripts/VisualizerView.js"></script>
	<script type="text/javascript" src="~/Scripts/Model.js"></script>
	<script type="text/javascript" src="~/Scripts/Parser.js"></script>	
}

<div class="VisualizerContainer">

</div>