@{
    ViewBag.Title = "Index";
}

@section HeaderContent
{
	<script type="text/javascript" src="~/Scripts/Thirdparty/raphael.js"></script>
	<script type="text/javascript" src="~/Scripts/Thirdparty/raphael.group.js"></script>
	<script type="text/javascript" src="~/Scripts/Thirdparty/underscore.js"></script>
	<script type="text/javascript" src="~/Scripts/TypeScript/Application.js"></script>
	<script type="text/javascript" src="~/Scripts/TypeScript/Model.js"></script>
	<script type="text/javascript" src="~/Scripts/TypeScript/Parser.js"></script>
	<script type="text/javascript" src="~/Scripts/TypeScript/XsdVisualizer.js"></script>
	<script type="text/javascript" src="~/Scripts/TypeScript/Drawing/PaperGroup.js"></script>
	<script type="text/javascript" src="~/Scripts/TypeScript/Drawing/Drawable.js"></script>
	<script type="text/javascript" src="~/Scripts/TypeScript/Drawing/VisualizerView.js"></script>
	<script type="text/javascript" src="~/Scripts/TypeScript/Drawing/DocumentView.js"></script>
	<script type="text/javascript" src="~/Scripts/TypeScript/Drawing/ElementView.js"></script>
	<script type="text/javascript" src="~/Scripts/TypeScript/Drawing/TypeView.js"></script>
	<script type="text/javascript" src="~/Scripts/TypeScript/Drawing/NonexpandableTypeView.js"></script>
	<script type="text/javascript" src="~/Scripts/TypeScript/Drawing/ComplexTypeView.js"></script>
	<script type="text/javascript">
		$(document).ready(function () {
			var application = new Application();
			application.loadXsd("@Url.Content("~/Demo/Cinema.xsd")");
		});
	</script>
}

<div class="VisualizerContainer">

</div>